@media (min-width: 1200px){
	.container {
		padding: 0 15px;
	}
	header .navbar-collapse a{
		padding-right: 5.6rem;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		max-width: 1220px;
	}
}

@media screen and (min-width: 1350px) {
	.container {
		max-width: 1300px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		max-width: 1390px;
	}
}

@media screen and (min-width: 1600px) {
	.container {
		max-width: 1490px;
	}
}

@media screen and (min-width: 1800px) {
	.container {
		max-width: 1690px;
	}
}

@media (max-width: 1799px){
	:root{
		--font76: 5.6rem;
	}
	.hero-left-col {
		max-width: 80.6rem;
	}
	.footer-row {
		grid-gap: 15rem;
	}
	.footer-right-col{
		grid-gap: 8rem;
	}
}

@media screen and (max-width: 1679px) {
	html {
		font-size: 9px;
	}
}

@media (max-width: 1599px){
	:root{
		--font32: 28px;
		--font24: 20px;
		--font28: 24px;
		--font26: 22px;
		--font20: 18px;
		--font16: 14px;
	}
}

@media screen and (max-width: 1439px) {

	html {
		font-size: 8px;
	}
	.footer-row {
		grid-gap: 10rem;
	}
	.footer-right-col{
		grid-gap: 6rem;
	}
}

@media screen and (max-width: 1365px) {
	html {
		font-size: 7px;
	}
	.discover-box-col .icon{
		max-width: 50px;
	}
}

@media (max-width: 1279px){
	.footer-row {
		grid-gap: 5rem;
	}
	.footer-right-col{
		grid-gap: 4rem;
	}
}

@media screen and (max-width: 1199px) {
	:root{
		--footer-left-col-width: 270px;
		--font66: 5.6rem;
		--font26: 20px;
		--font32: 24px;
		--font24: 17px;
	}
	.brand-logo{
		max-width: 100px;
	}
	.navbar-collapse {
		background-color: #fff;
		padding: 60px 15px 15px;
		position: fixed;
		top: 0;
		right: 0;
		width: 100% !important;
		text-align: center;
		bottom: 0;
		-webkit-transition: all .5s ease 0s;
		-moz-transition: all .5s ease 0s;
		-ms-transition: all .5s ease 0s;
		-o-transition: all .5s ease 0s;
		transition: all .5s ease 0s;
		-webkit-transform: translateX(110%);
		-moz-transform: translateX(110%);
		-ms-transform: translateX(110%);
		-o-transform: translateX(110%);
		transform: translateX(110%);
		height: 100%;
		overflow: auto;
		border-radius: 0;
		box-shadow: -10px 10px 20px 0 rgba(0, 0, 0, .2);
		z-index: 1;
		flex-direction: column;
	}

	.show-menu .navbar-collapse {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0)
	}

	header .collapse .dropdown-menu {
		max-width: 50%;
		margin: 0 auto
	}

	.navbar-toggler {
		width: 35px;
		height: 35px;
		line-height: 35px;
		padding: 0;
		border-radius: 5px;
		border: none;
		text-align: center;
		z-index: 110;
		transition: all .5s;
		top: 50%;
		cursor: pointer;
		vertical-align: middle
	}

	.navbar-toggler:focus {
		box-shadow: none
	}

	.navbar-toggler span {
		position: relative;
		width: 25px;
		height: 2px;
		background-color: var(--alterClr);
		display: block;
		background-image: none !important;
		margin-left: auto
	}

	.navbar-toggler span::after,
	.navbar-toggler span::before {
		position: absolute;
		content: "";
		width: 17px;
		height: 2px;
		background-color: var(--alterClr);
		right: 0;
		transition: all .5s
	}

	.navbar-toggler span::before {
		top: -7px
	}

	.navbar-toggler span::after {
		top: 7px
	}

	.show-menu .navbar-toggler span::after,
	.show-menu .navbar-toggler span::before {
		left: 0;
		right: 0;
		margin: auto;
		transform: rotate(45deg);
		top: -1px
	}

	.show-menu .navbar-toggler span::after {
		transform: rotate(-45deg)
	}

	.show-menu .navbar-toggler span {
		height: 0
	}

	.show-menu {
		overflow-y: hidden
	}
	.footer-links a, footer p{
		font-size: 13px;
	}
	.footer-right-col {
		grid-gap: 20px;
	}
	.discover-box-row {
		grid-template-columns: repeat(2, 1fr);
	}
	.pricing-content h6{
		line-height: inherit;
	}
	.get-in-touch-box{
		padding: 3rem;
	}
}

@media (min-width: 992px){
	.why-choose-us-content-wrap{
		padding-left: 11.5rem;
	}
	.pricing-card-col:not(:first-child){
		margin-top: 3.7rem;
	}
	.get-in-touch-image-wrap{
		width: var(--get-in-touch-image-width);
	}
	.get-in-touch-form-content{
		width: calc(100% - var(--get-in-touch-image-width));
		padding-left: 4.3rem;
	  }
}

@media screen and (max-width: 991px) {
	:root{
		--font66: 5rem;
	}
	html {
		font-size: 6px;
	}

	.footer-top {
		padding: 5rem 0;
	}
	.footer-right-col,
	.why-choose-us-img-wrap,
	.why-choose-us-content-wrap{
		width: 100%;
	}
	.hero-left-col,.hero-right-col{
		max-width: 100%;
	}
	.why-choose-us-content-wrap{
		margin-top: 10rem;
	}
	.pricing-card-accessories-col{
		margin-top: 3.7rem;
	}
	.pricing-inner-card{
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 15px;
	}
}

@media (min-width: 768px){
	.about-head-wrap:first-child{
		padding-right: var(--about-space);
	}
	.about-head-wrap:not(:first-child){
		max-width: 50.6rem;
		padding-left: var(--about-space);
		border-left: 1px solid var(--unicornSilverClr);
	}
	.image-square-effect-card::after{
		--why-choose-content-spacing: 4.7rem;
		content: '';
		width: 100%;
		height: 100%;
		background-color: var(--vanillaStrawberryClr);
		position: absolute;
		top: var(--why-choose-content-spacing);
		left: var(--why-choose-content-spacing);
		z-index: -1;
		transition: all 0.3s;
	}
	.pricing-card-col{
		max-width: 68.2rem;
	}
	.pricing-card-accessories-col{
		max-width: 50rem;
	}
	.color-match-img-wrap{
		max-width: 45.6rem;
	  }
	  .color-match-content{
		padding-left: 10rem;
		max-width: 84.6rem;
	  }
	  .color-match-section .flex-row-reverse .color-match-content{
		padding-right: 10rem;
	  }
}

@media screen and (max-width: 767px) {
	:root{
		--headerHeight: 70px;
		--font76: 4.6rem;
		--font32: 22px;
		--font28: 20px;
		--font26: 18px;
		--font20: 16px;
	}
	.container {
		padding: 0 12px;
	}
	.footer-right-col{
		grid-template-columns: repeat(2, 1fr);
	}
	.discover-box-row,.discover-our-led-grid,.pricing-inner-card {
		grid-template-columns: repeat(1, 1fr);
	}
	.discover-box-col{
		min-height: 150px;
	}
	.head-title{
		line-height: inherit;
	}
	.about-head-wrap:not(:first-child),.color-match-content{
		margin-top: 20px;
	}
	.color-match-box{
		padding: 4rem;
	}
	.color-match-box.flex-row-reverse{
		padding-bottom: 0;
	}
	.get-in-touch-image-wrap ul .social-round-icon{
		width: 40px;
		height: 40px;
	}
	.get-in-touch-image-wrap ul li{
		padding: 13px 0;
	  }
	  .get-in-touch-image-wrap ul .social-round-icon svg{
		max-width: 15px;
	  }
}

@media screen and (max-width: 575px) {
	:root{
		--font66: 4rem;
		--font26: 16px;
		--font24: 14px;
	}
	html {
		font-size: 5px;
	}
	.pricing-card-col{
		padding: 15px;
	}
}

@media screen and (max-width: 399px) {
	.footer-right-col {
		grid-template-columns: repeat(1, 1fr);
	}
}